<div class='row'>
  <div class='col-md-6 col-md-offset-3'>
    <h1> Edytuj Stronę Główną! </h1>

    <%= form_for :static_page, url: static_page_path(@static_page), method: :patch do |s_page| %>
      <p>
      <%= s_page.label :Nagłówek %> <br>
      <%= s_page.text_area :header, class: 'form-control' %>
      </p>

       <p>
      <%= s_page.label :'Mniejszy nagłówek' %> <br>
      <%= s_page.text_area :sub_header, class: 'form-control' %>
      </p>

       <p>
      <%= s_page.label :'Opis na pasku' %> <br>
      <%= s_page.text_area :short_description, class: 'form-control' %>
      </p>

       <p>
      <%= s_page.label :'Box 1' %> <br>
      <%= s_page.text_area :box_one, class: 'form-control' %>
      </p>

       <p>
      <%= s_page.label :'Box 2' %> <br>
      <%= s_page.text_area :box_two, class: 'form-control' %>
      </p>

       <p>
      <%= s_page.label :'Przycisk' %> <br>
      <%= s_page.text_field :cto_button, class: 'form-control' %>
      </p>

      <p>
        <%= s_page.submit("Edytuj Stronę Główną", class: 'btn btn-success')  %>
      </p>
    <% end %>

  </div>
</div>
