%h1 Wszystkie strony główne

%table.table.table-hover
  %thead
    %tr
      %th Nagłówek
      %th Mniejszy Nagłówek
      %th Opis na pasku
      %th Box 1
      %th Box 2
      %th Przycisk


  %tbody
    - @static_pages.each do |s_page|
      %tr
        %td= link_to s_page.header, s_page
        %td= s_page.sub_header
        %td= s_page.short_description
        %td= s_page.box_one
        %td= s_page.box_two
        %td= s_page.cto_button
        %td=  link_to 'Edytuj', edit_static_page_path(s_page)
        
%br

%p= link_to 'Dodaj nową stronę główną', new_static_page_path, class: 'btn btn-info'
