<% provide(:title, @user.name) %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
      <h1 class='users-belt text-center'>       
        <%= @user.name %> <%=link_to 'edytuj', edit_user_path, class:'text-center btn btn-success' %>
      </h1>
  </div>
</div>

  <div class='row'>
    <div class='col-md-5 col-md-offset-1 text-center'>
      <h2> Adres: </h2> <br>
      <b> Ulica </b> : <%= @user.address %> <br>
      <b> Kod pocztowy:</b> <%= @user.postal_code %> <br>
      <b>Miejscowość: </b> <%= @user.city %> <br>
    </div>

    <div class='col-md-5 text-center'>
      <h2> Dane kontaktowe </h2> <br>
      <b> Telefon </b> : <%= @user.phone %> <br>
      <b> Adres E-mail: </b>  <%= link_to @user.email %><br>
      <b> Dołączył: </b> <%= @user.created_at.strftime("%d.%m.%Y")%>
      <% if @user.admin == true %>
      <div style='color: green; font-weight: bold;'> Użytkownik jest administratorem </div>
   

    <% end %>
    </div>
  </div>

</div>

