= form_for @page do |f|
  

  .field
    = f.label :Tytuł
    = f.text_field :title
  .field
    = f.label :Zawartość
    = f.text_area :content
  .field
    = f.label :'Krótka zawartość`'
    = f.text_field :short_content_text
  .field
    = f.label :Tagi
    = f.text_area :tags
  .field
    = f.label :Opis
    = f.text_area :description
  .actions
    = f.submit 'Save'
