%h1 Panel Zarządzania Stronami
= link_to 'Dodaj Nową Stronę', new_page_path, class: 'btn btn-primary'

%table.table.table-hover
  %thead
    %tr
      %th Tytuł
      %th Streszczenie
      %th Tagi
      %th Opis

  %tbody
    - @pages.each do |page|
      %tr
        %td= link_to page.title, page
        %td= page.short_content_text
        %td= page.tags
        %td= page.description
        %td= link_to 'Pokaż', page, class: 'btn btn-primary'
        %td= link_to 'Edytuj', edit_page_path(page), class: 'btn btn-info'
        %td= link_to 'Usuń', page, :method => :delete, :data => { :confirm => 'Jesteś pewien, że chcesz usunąć stronę?' },class: 'btn btn-danger'

%br


