%h1 Wszystkie produkty
-if current_user.try(:admin?)
  %p= link_to 'Dodaj Produkt', new_product_path, class: 'btn btn-product'
%br
%table.table.table-hover
  %thead
    %tr
      %th Nazwa
      %th Cena
      %th Zdjęcie
      %th Opis


  %tbody
    - @products.each do |product|
      %tr
        %td= link_to product.name, product
        %td= number_to_currency product.price 
        %td= image_tag product.image, class: 'min-image'
        %td= product.description
        %td
        -if current_user.try(:admin?)
          %td
            = link_to 'Dodaj do koszyka', add_cart_path(product), method: :post, class:'btn btn-md btn-product'
            %br 
            %br
            = link_to 'Edytuj', edit_product_path(product), class: 'btn btn-info'
            = link_to 'Usuń', product, :method => :delete, :data => { :confirm => 'Jesteś pewien?' }, class: 'btn btn-danger'

%br

