%h1 Wszystkie produkty

%table.table.table-hover
  %thead
    %tr
      %th Nazwa
      %th Cena
      %th Zdjęcie
      %th Opis


  %tbody
    - @products.each do |product|
      %tr
        %td= link_to product.name, product
        %td= product.price
        %td= image_tag product.image, class: 'min-image'
        %td= product.description
        %td
          = link_to 'Edytuj', edit_product_path(product)
          = link_to 'Usuń', product, :method => :delete, :data => { :confirm => 'Jesteś pewien?' }

%br

%p= link_to 'Dodaj Produkt', new_product_path, class: 'btn btn-product'
