%h1= @product.name
%p= number_to_currency(@product.price)
%p= image_tag @product.image, class: 'avg-image'
%p Średnia ocena to #{@product.mark}/10

%p=link_to "Dodaj do Koszyka", add_cart_path, method: :post, class:'btn btn-product'
= link_to 'Edytuj', edit_product_path(@product), class: 'btn btn-primary'
\|
= link_to 'Cofnij', products_path
